
## <summary>policy for galilel</summary>


########################################
## <summary>
##	Transition to galilel.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`galilel_domtrans',`
	gen_require(`
		type galilel_t, galilel_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, galilel_exec_t, galilel_t)
')


########################################
## <summary>
##	Execute galilel server in the galilel domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`galilel_initrc_domtrans',`
	gen_require(`
		type galilel_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, galilel_initrc_exec_t)
')


########################################
## <summary>
##	Search galilel lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`galilel_search_lib',`
	gen_require(`
		type galilel_var_lib_t;
	')

	allow $1 galilel_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read galilel lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`galilel_read_lib_files',`
	gen_require(`
		type galilel_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, galilel_var_lib_t, galilel_var_lib_t)
')

########################################
## <summary>
##	Manage galilel lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`galilel_manage_lib_files',`
	gen_require(`
		type galilel_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, galilel_var_lib_t, galilel_var_lib_t)
')

########################################
## <summary>
##	Manage galilel lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`galilel_manage_lib_dirs',`
	gen_require(`
		type galilel_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, galilel_var_lib_t, galilel_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a galilel environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`galilel_admin',`
	gen_require(`
		type galilel_t;
		type galilel_initrc_exec_t;
		type galilel_var_lib_t;
	')

	allow $1 galilel_t:process { ptrace signal_perms };
	ps_process_pattern($1, galilel_t)

	galilel_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 galilel_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, galilel_var_lib_t)

')

